<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
</head>
<body>
    <h1>Create a New Book</h1>
    
    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

